# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
pathfinding-lab/astar-cities/build/.vs/astar-cities/v16/Browse.VC.db
pathfinding-lab/astar-cities/build/.vs/astar-cities/v16/ipch/AutoPCH/f893fc8c2f56cb05/ASTAR-CITIES.ipch
